<h2>All Subs</h2>
<% @subs.each do |s| %>
<ul>
    <li><a href="<%= sub_url(s) %>"><%= s.title %></a></li>
</ul>  
<% end %>
<% if logged_in? %>
    <a href="<%= new_sub_url %>">Create Sub</a>
<% end %>

